@model Hotel.Models.HoaDonDatPhongModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoaDonDatPhongModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHddp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHddp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayHd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayHd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDpNavigation.MaDp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNvNavigation.MaNv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
