@model Hotel.Models.DatPhongModel

@{
    ViewData["Title"] = "Create";
}
@section Title_Content{
    <h1>Create</h1>
    <h4>Datphong</h4>
}
@section Itemt_Title{
}
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="MaDp" class="control-label"></label>
                <input asp-for="MaDp" class="form-control" value="@ViewBag.MaDp" readonly/>
                <span asp-validation-for="MaDp" class="text-danger"></span>
            </div>
        </div>
        <input asp-for="MaKh" class="form-control" value="@ViewBag.MaKh" hidden readonly/>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label"></label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SoNguoi" class="control-label"></label>
                <input asp-for="SoNguoi" class="form-control" />
                <span asp-validation-for="SoNguoi" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Số Phòng</label>
                <input class="form-control" value="@ViewBag.SoPhong">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Tên Khách Hàng</label>
                <input name="TenKh" class="form-control" />
                @try
                {
                    @foreach (var item in ViewBag.Error_TenKh)
                    {
                        <span class="text-danger">@item.ErrorMessage</span>
                    }
                }
                catch (System.Exception)
                {
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">CCCD</label>
                <input name="CCcd" class="form-control" />
                @try
                {
                    @foreach (var item in ViewBag.Error_CCcd)
                    {
                        <span class="text-danger">@item.ErrorMessage</span>
                    }
                }
                catch (System.Exception)
                {
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Số Điện Thoại</label>
                <input name="SoDt" class="form-control" />
                @try
                {
                    @foreach (var item in ViewBag.Error_Sodt)
                    {
                        <span class="text-danger">@item.ErrorMessage</span>
                    }
                }
                catch (System.Exception)
                {
                }
            </div>
        </div>
    </div>
    <input asp-for="MaP" class="form-control" value="@ViewBag.MaP" hidden>
    <div class="row">
        <input type="text" name="idP" value='@ViewBag.IdP' hidden>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" id="create" />
        </div>
    </div>
</form>
<div>
    <a href='@Url.Action("DanhSachPhongDatPhong","Phong")'>Back to List</a>
</div>















