@model Hotel.Models.NhanVienModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhanVienModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CCccd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CCccd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
